
.container {
	padding: 0 140px;
}
body {
	margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #283136;
  text-align: left;
  background-color: #ffffff;   
}
ul li {
	list-style: none;
}
footer {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
a:visited {
	color: black;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto; 
}
.header {
	max-width: 1440px;
  height: 100%;
  padding-top: 49px;
  background-color: #eee;
}
.first {
	font-size: 55px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.second {
	font-size: 45px;
	font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.third {
	font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.fourth {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
 		padding: 18px 0;
}
.fifth {
	font-size: 18px;
	text-transform: uppercase;
	font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
}
.sixth {
	font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
}
.about {
	padding-top: 20px;
  max-width: 616px;
  margin-bottom: 38px;
}
.button:visited {
	color: #ffffff;
}
.header-link:hover svg {
	fill: #303030;
}
.header-link:active svg {
	fill: #a6a6a6;
}
.header .header-nav  {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;	
}
.header .header-nav-list  {
	list-style: none;
	display: flex;
	align-items: center;
	padding-left: 202px;
  margin: 0;
  text-transform: uppercase; 
  flex-wrap: nowrap;
	width: 800px;
}
.header-nav-list .nav-item {
	padding: 0;
	font-weight: 500;
  line-height: 30px;
}
.header-nav-list .nav-item:not(:first-child) {
	margin-left: 47px;
}
.nav-item .item-link {
  color: #000000;
  font-weight: bold;
 }
.header-nav-list .item-link:hover  {
	color: #fb565a;
}
.header-nav-list .item-link:active  {
	color: #000000;
	opacity: 0.3;
}
.active-link {
	content: "";
  left: 0;
  bottom: -10px;
  width: 100%;
  border-bottom: 2px solid #fb565a;
}
.nav-user {
	width: 160px;
  padding-top: 25px;
  text-align: right;
}
.card {
	position: relative;
  padding-left: 40px;
  font-weight: 500;
  line-height: 30px;
   text-transform: uppercase;
}
.card:before {
	content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0%0D%0APSIxNSIgdmlld0JveD0iMCAwIDE1IDE1Ij48Y2lyY2xlIGZpbGw9IiNhNmE2YTYiIGN4PSI0LjUi%0D%0AIGN5PSIxMy41IiByPSIxLjUiLz48Y2lyY2xlIGZpbGw9IiNhNmE2YTYiIGN4PSIxMi41IiBjeT0i%0D%0AMTMuNSIgcj0iMS41Ii8+PHBhdGggZmlsbD0iI2E2YTZhNiIgZD0iTTE1IDJINC4wN2wtLjQyMi0y%0D%0ASDB2MmgyLjAzMWwxLjk4NSA5SDE1VjlIOS40NDFMMTUgNi45NTF6Ii8+PC9zdmc+Cg==);
    background-repeat: no-repeat;
}
/* слайдер */
.slider {
	position: relative;
  min-height: 431px;
	}
.slide {
	top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 80px;
  background-position: 93% 100%;
  background-repeat: no-repeat;
}
.slide:nth-child(1) {
	background-image: url(https://github.com/htmlacademy-htmlcss/1275593-nerds-27/blob/master/img/slide/slide1.png?raw=true);
}
.slide:nth-child(2) {
	background-image: url(https://raw.githubusercontent.com/julmedvedeva/1275593-nerds-27/master/img/slide/slide2.png);
	display: none;
}
.slide:nth-child(3) {
	background-image: url(https://raw.githubusercontent.com/julmedvedeva/1275593-nerds-27/master/img/slide/slide3.png);
	display: none;
}
.slide-visible {
	-webkit-animation: fading-in 1.75s ease-in-out forwards;
  animation: fading-in 1.75s ease-in-out forwards;
}
.slide-content {
	width: 560px;
  padding-top: 51px;
}
.button-slide {
	padding: 16px 54px;
  margin-top: 24px;
}
.slider .first  {
	max-width: 530px; 
	padding-bottom: 28px;
	padding-top: 35px;
	margin: 0;
}
.description {
	max-width: 410px;
	margin: 0;
	color: #283136;
	padding-bottom: 42px;
}
.description-last {
	max-width: 343px;
}
.slider-controls {
	position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 96px;
  width: 240px;
  height: 18px;
  transform: translateX(-50%);
}
.button-slider-controls {
	position: relative;
  display: block;
  margin: 0 9px;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.button-slider-controls-active:after {
	content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.brands .brands-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.brands-list .brands-item {
	display: flex;
	align-items: center;
}
.brands-item:not(:first-child):before {
	content: "";
	display: block;
	width: 2px;	
	height: 52px;
	background-color: #eeeeee;
	margin-right: 48px;
	}
.brands-list svg {
	opacity: 0.2;
}
.brands-item:hover svg {
	opacity: 1;
}
.brands-item:active svg {
	opacity: 0.1;
} 
/*услуги*/
.services {
	margin-top: 80px;
}
.services-list {
	padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
.caption {
	margin: 0;
  width: 244px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.services-item:first-child {
	margin-right: 20px;
}
.services-item:not(:last-child):not(:first-child) {
	margin: 0 20px;
}
.services-item {
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.stat {
	width: 100%;
  margin: 0;
  box-sizing: border-box; 
  justify-content: space-between;
  background-color: #ffffff;
}
.stat-item:nth-child(2) {
	padding-left: 140px;
}
.stat-list {
	padding-left: 0;
}
.column-left {
	width: 100%;
}
.column-left .second {
	max-width: 650px;
	margin: 0;
 	padding-top: 32px;
}
.column.right {
	display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1;
  text-align: left;
  box-sizing: border-box;
}
.statistics-item {
	display: flex;
	width: auto;
  flex-direction: column;
  align-items: left;
	text-align: left;
	box-sizing: border-box;
	padding-top: 10px;
  padding-bottom: 26px;
  margin: 0;
  padding-right: 5px;
} 
.stat-second {
	margin-bottom: 0;
}
.statistics-item .percent {
	font-size: 10px;
	font-weight: bold;
	vertical-align: top;
  font-size: 20px;
}
.stat-table {
 	padding-top: 5px;
 	max-width: 105px;
 	}
.sixth-stat {
  padding-left: 10px;
}
.activity-list {
	margin-top: 25px;
}
.activity-item {
	position: relative;
	padding: 0;
	margin-bottom: 25px;
}
.activity-item::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -33px;
	width: 25px;
	height: 2px;	
	background-color: #fb565a;
}
.button {
	display: inline-block;
  vertical-align: top;
  padding: 16px 40px;
  border: 0;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #fb565a;
}
.button-red {
	background-color: #fb565a;
	padding: 16px 55px; 
}
.button-red:hover {
	background-color: #e74246;
}
.button-red:active {
	background-color: #d7373b;
}
.button-xs {
	padding: 16px 40px;
	margin-top: 30px;
}
.button-green {
	background-color: #00ca74;
}
.button-green:hover {
	background-color: #00bc6c;
}
.button-green:active {
	background-color: #00aa62;
}
.button-yellow {
	background-color: #efc84a;
}
.button-yellow:hover {
	background-color: #eab534;
}
.button-yellow:active {
	background-color: #e5a722;
}
.main-footer {
	justify-content: normal;
	background-color: white;
}
.social {
 	display: flex; 
 	padding: 57px 0px;
 	margin: 0;
}
.social-button {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 79px; 
	height: 79px;
	background: #eeeeee;
	border-radius: 50%;
	justify-content: center;
  align-items: center;
  margin: : 69px 12px 69px 0;
}
.social-button:first-child {
	margin-right: 12px;
}
.social-button:not(:last-child):not(:first-child) {
	margin: 0 12px;
}
.contacts {
	position: relative;
}
.rectangle {
	font-size: 16px;
	font-style: none;
	width: 220px;
	background: #eeeeee;
  padding: 3px 48px 31px 51px;
  position: absolute;
	top: 54px;
  left: 0px;
}
.maps {
	max-width: 100%;
	margin-left: -140px; 
}
.address {
	color: #666666;
	font-style: normal; 
	text-decoration: none;
}
.fifth-address {
	padding-top: 16px;
}
.button-feedback {
	margin: 15px 0;
	padding: 16px 44px;
}
.button-feedback:hover {
	background-color: #e74246;
}
.right.proposal  {
	text-align: left;
	display: flex;
  align-items: baseline;
  padding-left: 125px;
  padding-top: 29px;
}
.social-button:hover {
	background-color: #e74246;
}
.social-button:active {
	background-color: #d7373b;
}
.line-first {
	margin-top: 80px;
	margin-bottom: 40px;
	background-color: #eeeeee;
}
.line-second {
	margin-top: 40px;
	margin-bottom: 36px;
	background-color: #eeeeee;
}
.line-third {
	margin-top: 25px;
	margin-bottom: 80px;
	background-color: #eeeeee;
} 
.logo-color {
	padding-bottom: 35px;
	padding-left: 10px;
}
.proposal-paragraph {
	padding: 0;
  margin-top: -21px;
}
.form-feedback {
	padding: 65px 100px 85px;
    width: 760px;
    background-color: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
}
.form-feedback-page {
	display: none;
	position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form-feedback-page.show {
	display: block;
}
.form-feedback-caption {
	margin-top: 0;
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000;
}
.form-feedback-row {
	display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
.form-feedback-column {
	width: 360px;
}
.form-feedback-label {
	display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
}
.form-feedback-input {
	padding: 14px;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68,68,68,.5);
  border: 2px solid #d7dcde;
  border-radius: 3px;
}
.form-feedback-row-message {
	flex-direction: column;
  margin-bottom: 47px;
}
.form-feedback-textarea {
	min-height: 118px;
  resize: vertical;
}
.button-feedback-form {
	padding: 16px 84px;
}
.form-feedback-closed {
	position: absolute;
  top: 78px;
  right: 90px;
  padding: 0;
  width: 25px;
  height: 25px;
  border: 0;
  background: 0 0;
  opacity: .3;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
}
.form-feedback-closed:after,
.form-feedback-closed:before {
	content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 25px;
    height: 5px;
    background-color: #fb565a;
}
.form-feedback-closed:after {
	transform: rotate(-45deg);
}
.form-feedback-closed:before {
	transform: rotate(45deg);
}
/*.form-feedback-opened {
	-webkit-animation: slide-in-left .75s ease-in-out forwards;
  animation: slide-in-left .75s ease-in-out forwards;
}*/
/* тут идет вторая страница*/
.content-wrapper {
	width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.catalog-main {
	display: flex;
	justify-content: space-between;
  padding-bottom: 55px;
}
.title .first {
	margin: 0;
	padding-left: 104px;
	padding-top: 74px;
	padding-bottom: 116px;
	text-align: center;
}
.filters-form {
	padding-top: 41px;	
}
.filters-form-fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.filters-form-cost {
	margin-bottom: 54px;
}
.filters-form-cost-filter {
	margin-top: 48px;
}
.filter-cost .range {
	display: flex;
	align-items: center;
  margin-bottom: 13px;
  padding: 0 18px;
  height: 80px;
  border-radius: 3px;
  background-color: #eee;
}
.filter-cost .range-scale {
	position: relative;
  width: 100%;
	height: 2px;
	background-color: #d7dcde;
}
.filter-cost .range-line {
	width: 64%;
	height: 2px;
  background-color: #00ca74;
}
.filter-cost .range-handle {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #b7b7b7;
  box-shadow: 0 2px 0 0 rgba(0,1,1,.14);
}
.filter-cost .range-handle-min {
	left: 0;
}
.filter-cost .range-handle-max {
	left: 64%;
}
.filter-cost .period {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}
.filter-cost-label {
	display: block;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;  
}
.filter-cost-input {
	margin-left: 8px;
  padding: 2px;
  width: 80px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: center;
  background-color: #eee;
}
.max-cost {
	text-align: right;
}
.filters-form-grid {
	margin-bottom: 26px;
}
.grid-list {
	margin-top: 15px;
  margin-bottom: 16px;
  padding-left: 0;
  list-style: none;
}
.grid-item {
	margin-bottom: 16px;
}
.filter-form-label.radio:before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
  background-size: 25px 25px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0%0D%0APSIyNSIgdmlld0JveD0iMCAwIDI1IDI1Ij48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNMTIuNSA0%0D%0AYzQuNjg3IDAgOC41IDMuODEzIDguNSA4LjUgMCA0LjY4Ny0zLjgxMyA4LjUtOC41IDguNUM3Ljgx%0D%0AMyAyMSA0IDE3LjE4NyA0IDEyLjUgNCA3LjgxMyA3LjgxMyA0IDEyLjUgNG0wLTRDNS41OTcgMCAw%0D%0AIDUuNTk3IDAgMTIuNVM1LjU5NyAyNSAxMi41IDI1IDI1IDE5LjQwMyAyNSAxMi41IDE5LjQwMyAw%0D%0AIDEyLjUgMHoiLz48L3N2Zz4K);
}
.filters-form-radio {
	display: none;
}
.filters-form-radio:checked +.filter-form-label.radio:before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0%0D%0APSIyNSIgdmlld0JveD0iMCAwIDI1IDI1Ij48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNMTIuNSA0%0D%0AYzQuNjg3IDAgOC41IDMuODEzIDguNSA4LjUgMCA0LjY4Ny0zLjgxMyA4LjUtOC41IDguNUM3Ljgx%0D%0AMyAyMSA0IDE3LjE4NyA0IDEyLjUgNCA3LjgxMyA3LjgxMyA0IDEyLjUgNG0wLTRDNS41OTcgMCAw%0D%0AIDUuNTk3IDAgMTIuNVM1LjU5NyAyNSAxMi41IDI1IDI1IDE5LjQwMyAyNSAxMi41IDE5LjQwMyAw%0D%0AIDEyLjUgMHoiLz48Y2lyY2xlIGZpbGw9IiM0RDRENEQiIGN4PSIxMi41IiBjeT0iMTIuNSIgcj0i%0D%0ANC41Ii8+PC9zdmc+Cg==);
}
.filters-form-radio:checked:hover +.filter-form-label.radio:before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0%0D%0APSIyNSIgdmlld0JveD0iMCAwIDI1IDI1Ij48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNMTIuNSA0%0D%0AYzQuNjg3IDAgOC41IDMuODEzIDguNSA4LjUgMCA0LjY4Ny0zLjgxMyA4LjUtOC41IDguNUM3Ljgx%0D%0AMyAyMSA0IDE3LjE4NyA0IDEyLjUgNCA3LjgxMyA3LjgxMyA0IDEyLjUgNG0wLTRDNS41OTcgMCAw%0D%0AIDUuNTk3IDAgMTIuNVM1LjU5NyAyNSAxMi41IDI1IDI1IDE5LjQwMyAyNSAxMi41IDE5LjQwMyAw%0D%0AIDEyLjUgMHoiLz48Y2lyY2xlIGZpbGw9IiM0RDRENEQiIGN4PSIxMi41IiBjeT0iMTIuNSIgcj0i%0D%0ANC41Ii8+PC9zdmc+Cg==);
	opacity: 1;
}
.filter-form-label {
	position: relative;
  padding-left: 37px;
  line-height: 20px;
  transition: color .35s linear;
  cursor: pointer;
}
.filter-form-label::before {
	content: "";
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity .35s linear;
}
.feature-list {
	margin-top: 15px;
  margin-bottom: 16px;
  padding-left: 0;
  list-style: none;
}
.feature-item {
	margin-bottom: 16px;
}
.filter-form-label.checkbox:before {
	width: 23px;
  height: 23px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0%0D%0APSIyMyIgdmlld0JveD0iMCAwIDIzIDIzIj48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNMjAgMmMu%0D%0ANTQyIDAgMSAuNDU4IDEgMXYxN2MwIC41NDItLjQ1OCAxLTEgMUgzYy0uNTQyIDAtMS0uNDU4LTEt%0D%0AMVYzYzAtLjU0Mi40NTgtMSAxLTFoMTdtMC0ySDNDMS4zNSAwIDAgMS4zNSAwIDN2MTdjMCAxLjY1%0D%0AIDEuMzUgMyAzIDNoMTdjMS42NSAwIDMtMS4zNSAzLTNWM2MwLTEuNjUtMS4zNS0zLTMtM3oiLz48%0D%0AL3N2Zz4K);
  background-size: 23px 23px;
  background-position: 0 50%;
}
.filter-form-checkbox {
	display: none;
}
.filter-form-checkbox:checked +.filter-form-label.checkbox:before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0%0D%0APSIyMyIgdmlld0JveD0iMCAwIDI3IDIzIj48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNNy4yODUg%0D%0ANy40ODZsLTIuODI5IDIuODI5IDcuNzgzIDcuNzgzTDI2LjE3MSA0LjE2NmwtMi44MjgtMi44Mjkt%0D%0AMTEuMTA0IDExLjEwMnoiLz48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNMjEgMjBjMCAuNTQyLS40%0D%0ANTggMS0xIDFIM2MtLjU0MiAwLTEtLjQ1OC0xLTFWM2MwLS41NDIuNDU4LTEgMS0xaDE2LjkwOEwy%0D%0AMS40OTMuNDE1QTIuOTYgMi45NiAwIDAgMCAyMCAwSDNDMS4zNSAwIDAgMS4zNSAwIDN2MTdjMCAx%0D%0ALjY1IDEuMzUgMyAzIDNoMTdjMS42NSAwIDMtMS4zNSAzLTN2LTkuODI5bC0yIDJWMjB6Ii8+PC9z%0D%0Admc+Cg==);
}
.filter-form-checkbox:checked:hover +.filter-form-label.checkbox:before {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0%0D%0APSIyMyIgdmlld0JveD0iMCAwIDI3IDIzIj48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNNy4yODUg%0D%0ANy40ODZsLTIuODI5IDIuODI5IDcuNzgzIDcuNzgzTDI2LjE3MSA0LjE2NmwtMi44MjgtMi44Mjkt%0D%0AMTEuMTA0IDExLjEwMnoiLz48cGF0aCBmaWxsPSIjNEQ0RDREIiBkPSJNMjEgMjBjMCAuNTQyLS40%0D%0ANTggMS0xIDFIM2MtLjU0MiAwLTEtLjQ1OC0xLTFWM2MwLS41NDIuNDU4LTEgMS0xaDE2LjkwOEwy%0D%0AMS40OTMuNDE1QTIuOTYgMi45NiAwIDAgMCAyMCAwSDNDMS4zNSAwIDAgMS4zNSAwIDN2MTdjMCAx%0D%0ALjY1IDEuMzUgMyAzIDNoMTdjMS42NSAwIDMtMS4zNSAzLTN2LTkuODI5bC0yIDJWMjB6Ii8+PC9z%0D%0Admc+Cg==);
	opacity: 1;
}
.button-grey {
	width: 100%;
	color: black;
	background-color: #eeeeee;
}
.button-grey:hover {
	background-color: #dfdfdf; 
}
.button-grey:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3)
}
.catalog-header {
	display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-sort {
	display: flex;
	align-items: center;
}
.catalog-content {
	width: 760px;
	padding-top: 41px;
}
.fifth-sort {
	margin: 0;
}
.sort-list {
	display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
  
}
.sort-item {
	padding-right: 25px;
}
.sort-list-link {
	font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0,0,0,.3);
  transition: color .5s linear;
}
.sort-list-link.link-active {
	color: #000000;
}
.sort-directon {
	display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 60px;
}
.sort-directon-item {
	padding-left: 19px;
}
.sort-directon-link {
	display: block;
	width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,.2);
    color: currentColor;
}
.sort-directon-link.action 
.sort-directon-link.action:active {
	border-bottom-color: #000;
}
.sort-directon-link.down {
	transform: rotate(180deg);
}
.catalog-list {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 54px;
  padding-bottom: 28px;
  align-items: center;
}
.catalog-item {
	margin-bottom: 33px;
}
.product-card {
	position: relative;
  width: 360px;
  border-top: 40px solid rgba(77,77,77,.12);
  border-radius: 3px;
}
.product-card:before {
	content: "";
  position: absolute;
  left: 16px;
  top: -27px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
}
.product-card:hover {
	background-color: black;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-description {
	position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 11px 60px 42px;
  text-align: center;
  background-color: #eee;
  opacity: 0;
}
.product-card:hover .card-description {
	opacity: 1;
}
.card-link {
	color: #000;
  text-decoration: none;
}
.card-link:hover {
	color: #fb565a;
}
.card-link:active {
	color: rgba(0, 0, 0, 0.3);
}
.card-text {
	overflow: hidden;
  max-height: 380px;
  line-height: 18px;
  color: #666;
}
.text-fourth {
	margin: 0 30px;
	overflow-y: auto;
}
.button-product-card {
	margin-top: 14px;
  padding: 16px 60px;
  background-color: #fb565a;
}
.button-product-card:hover {
	background-color: #e74246;
}
.button-product-card:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
.pagination-list {
	display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
 }
.pagination-item {
	margin-right: 12px;
}
.button-pagination {
	color: #000000;
	padding: 16px 20px;
	background-color: #eeeeee;		
}
.button-pagination-active {
	color: #000000;
	padding: 16px 20px;
	background-color: #fff;
  box-shadow: inset 3px 3px 0 #dbdbdb, inset -3px -3px 0 #dbdbdb;
}
.button-pagination:hover {
	background-color: #dfdfdf;
}
.button-pagination:active {
	box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button-pagination-next {
	padding: 16px 78px;
}