@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext');
.container {
	padding: 0 140px;
}
body {
	margin: 0;
  	padding: 0;
  	font-family: "Roboto", "Arial", sans-serif;
  	font-size: 16px;
  	font-weight: 100;
  	line-height: 24px;
  	font-stretch: normal;
  	font-style: normal;
  	letter-spacing: normal;
  	background-color: #eeeeee; 
}
ul li {
	list-style: none;
}
 .header-link:hover svg {
	fill: #303030;
}
 .header-link:active svg {
	fill: #a6a6a6;
}
.header .header-nav  {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;	
}
.header .nav-list  {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0;
  	margin: 0;  
  	text-transform: uppercase; 
}
.basket {
	padding-right: 26px;
	padding-left: 200px;

}
.nav-list .nav-item {
	margin-left: 46px;
}
.nav-list .item-link:hover  {
	color: #fb565a;
}
.nav-list .item-link:active  {
	color: #000000;
	opacity: 0.3;
}
.brands .brands-list {
	list-style: none;
	display: flex;
	margin: 0 90px;
	justify-content: center;	
}
.brands-list .brands-item {
	padding-left: 90px; 
}
.brands-list svg {
	opacity: 0.2;
}
.brands-item:hover svg {
	opacity: 1;
}
.brands-item:active svg {
	opacity: 0.1;
}
.services .services-list {
	display: flex;
	margin-right: 50px;
	justify-content: space-around;
}
.button {
	display: inline-block;
    vertical-align: top;
    padding: 16px 40px;
    border: 0;
    border-radius: 3px;
    font: inherit;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.button-red {
	background-color: #fb565a;
}
.button-red-xs {
	background-color: #fb565a;
}
.button-green {
	background-color: #00ca74;
}
.button-yellow {
	background-color: #efc84a;
}