@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic-ext');
.container {
	padding: 0 140px;
}
body {
	margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #eeeeee; 
}
ul li {
	list-style: none;

}
h2 {
	font-size: 45px;
	line-height: 1;
  text-align: left;
}
h6 {
	font-size: 16px;
	text-transform: uppercase;
}
a:visited {
	color: black;
}
.button:visited {
	color: #ffffff;
}
 .header-link:hover svg {
	fill: #303030;
}
 .header-link:active svg {
	fill: #a6a6a6;
}
.header .header-nav  {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;	
}
.header .nav-list  {
	list-style: none;
	display: flex;
	align-items: center;
	padding-left: 200px;
  margin: 0;  
  text-transform: uppercase; 
}
.nav-basket { 
	padding-left: 200px;
	margin: 0;*/
	
}
.nav-list .nav-item {
	margin-left: 46px;
}
.nav-list .item-link:hover  {
	color: #fb565a;
}
.nav-list .item-link:active  {
	color: #000000;
	opacity: 0.3;
}
.basket {
	left: 1200px;
  top: 28px;
  position: absolute;
}
.brands .brands-list {
	list-style: none;
	display: flex;
	margin: 0 90px;
	justify-content: center;	
}
.brands-list .brands-item {
	padding-left: 90px; 
}
.brands-list svg {
	opacity: 0.2;
}
.brands-item:hover svg {
	opacity: 1;
}
.brands-item:active svg {
	opacity: 0.1;
}
.slider-list {
	padding-inline-start: 0;
}
.services {
	margin-top: 80px;
	padding-bottom: 80px;
}
.services-list {
	width: 100%;
  padding-inline-start: 0;
  margin: 0;
  box-sizing: border-box; 
}
.row {
  display: flex;
  flex-direction: row
  justify-content: space-between;
  width: 100%;
}
.services-item:first-child {
	margin-right: 50px;
}

.services-item:not(:last-child):not(:first-child) {
	margin: 0 50px;
}
.services-item:last-child {
	margin-left: 50px;
}
/*.services-item {
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  text-align: center;
} */
.stat {
	width: 100%;
 /*padding: 0 90px;*/
  margin: 160px 0;
  box-sizing: border-box; 
  justify-content: space-between;
}
.stat-item:nth-child(2) {
	padding-left: 140px;
}
.stat-list {
	padding: 0;

}
.stat-item {
	display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  line-height: 1;
  text-align: left;
}
p .stat-item {
	font-size: 16px;
  line-height: 1.5;
  padding: 0;
}
h2 .stat-item {

  line-height: 1;
  text-align: left;
 
}
.statistics-item {
	display: flex;
  flex-direction: column;
  align-items: center;
	text-align: center;
} 
.activity-list {
	padding: 0;
	margin: 0;
}
.activity-item {
	list-style: disc;
	padding: 0;
	margin: 0;
}

.button {
	display: inline-block;
  vertical-align: top;
  padding: 16px 40px;
  border: 0;
  border-radius: 3px;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.button-red {
	background-color: #fb565a;
}
.button-red-xs {
	background-color: #fb565a;
}
.button-green {
	background-color: #00ca74;
}
.button-yellow {
	background-color: #efc84a;
}